/* Global Styling */
p {
  font-weight: 400;
}

.title-divider {
  background-color: #0f75bc;
  width: 100%;
  height: 3px;
  border-top: 0;
  margin-top: 0;
}

.schema-star {
  color: #ddbd62;
  font-size: 20px;
}

.list-star-text {
  font-size: 28px;
  color: #1a1a1a;
  font-weight: 900;
  line-height: 1.2em;
}

/* Menu Styling */

#et_search_icon:hover,
#top-menu li.current-menu-ancestor > a,
#top-menu li.current-menu-item > a,
.bottom-nav li.current-menu-item > a,
.comment-reply-link,
.entry-summary p.price ins,
.et-social-icon a:hover,
.et_password_protected_form .et_submit_button,
.footer-widget h4,
.form-submit .et_pb_button,
.mobile_menu_bar:after,
.mobile_menu_bar:before,
.nav-single a,
.posted_in a,
.woocommerce #content div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce #content input.button,
.woocommerce #content input.button.alt,
.woocommerce #content input.button.alt:hover,
.woocommerce #content input.button:hover,
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #respond input#submit:hover,
.woocommerce-page #content div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page #content input.button,
.woocommerce-page #content input.button.alt,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page .star-rating span:before,
.woocommerce-page a.button,
.woocommerce-page a.button.alt,
.woocommerce-page a.button.alt:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button,
.woocommerce-page button.button.alt,
.woocommerce-page button.button.alt.disabled,
.woocommerce-page button.button.alt.disabled:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page button.button:hover,
.woocommerce-page div.product p.price,
.woocommerce-page div.product span.price,
.woocommerce-page input.button,
.woocommerce-page input.button.alt,
.woocommerce-page input.button.alt:hover,
.woocommerce-page input.button:hover,
.woocommerce .star-rating span:before,
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce a.button.alt:hover,
.woocommerce a.button:hover,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:hover,
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce input.button.alt:hover,
.woocommerce input.button:hover,
.wp-pagenavi a:hover,
.wp-pagenavi span.current {
  color: #1b75bc;
}

.logo_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#logo {
  margin-top: 5px;
  margin-right: 70px;
}

.main-menu-item {
  vertical-align: middle;
  align-self: center;
  color: #1b75bc;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

#mobile-menu-main-items {
  display: none;
}

.main-menu-item:hover,
.mobile-main-menu-item:hover {
  color: #ffde17;
}

/*** Joppes css code ***/
.orange-text {
  color: #f7a859;
}
.white-text {
  color: #ffffff;
}

/* Sidebar Styling */

.post-sidebar img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1%;
}

/* Casino of the Month Sticky Bar Styling */

.sticky-text p {
  color: #1b75bc;
  font-size: 20px;
  font-weight: bold;
}

.sticky-text span {
  color: black;
}

.com-mobile-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.com-sticky-logo {
  padding-top: 12px;
  margin: auto;
  background-color: #fafafa;
  width: 40%;
}

.com-sticky-logo img {
  margin: auto;
  width: 100%;
}

.com-sticky-text {
  background-color: #008852;
  color: white;
  width: 60%;
}

.sticky-casino-of-the-month-text {
  text-transform: uppercase;
}

.sticky-casino-of-the-month-bonus {
  font-weight: bold;
}

/* Casino list styling */

.casino-review {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 1% !important;
  margin-bottom: 1% !important;
  box-shadow: 0px 2px 10px -6px rgba(0, 0, 0, 0.3);
  background-color: #fafafa !important;
  border-radius: 5px;
  border: 1px solid;
}

.casino-review:hover {
  box-shadow: 0px 12px 18px -10px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.casino-review .et_pb_column:nth-child(1) .et_pb_image_wrap {
  border-radius: 0px !important;
  border-width: 0;
}

.casino-review .et_pb_column:nth-child(1) .et_pb_image_wrap img {
  width: 100%;
}

.casino-review .et_pb_column:nth-child(2),
.casino-review .et_pb_column:nth-child(3),
.casino-review .et_pb_column:nth-child(4) {
  align-self: center;
}

.list-toc-text {
  color: grey;
  font-weight: normal;
  font-size: 14px;
}

.list-review-text {
  font-size: 16px;
  text-transform: uppercase;
  color: white !important;
  background-color: #1b75bc !important;
  padding: 1% 2% !important;
  border-radius: 5px;
  text-align: center;
}

.list-review-text:hover {
  background-color: #ffde17 !important;
  color: black !important;
}

.list-review-code .list-star-score {
  line-height: 40px !important;
  margin: 8px 0px !important;
}

.list-star {
  font-size: 30px;
  color: #ffde17;
}

.list-star-text {
  font-size: 30px;
  color: #35454c;
  font-weight: 600;
}

.casino-review .position-number {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: #1b75bc;
  font-weight: bold;
  line-height: 1.5em;
  font-size: 20px;
  border-bottom: 2px solid #ffde17;
  border-right: 2px solid #ffde17;
  border-bottom-right-radius: 5px;
  text-align: center;
  box-shadow: 0px 12px 18px -10px rgba(0, 0, 0, 0.3);
}

.casino-review .position-number .et_pb_text_inner {
  color: white;
}

/* Mobile Menu */
.et_mobile_menu {
  border-top: 3px solid #f7a859;
}

.mobile_menu_bar_toggle:before {
  color: #f7a859 !important;
}

/***** Button Styling *****/
.primary-cta {
  background-color: rgba(0, 136, 82, 1);
}

.primary-cta:hover {
  background-color: rgba(0, 136, 82, 0.8) !important;
}

.secondary-cta {
  margin: auto;
  background-color: #0f75bc;
}

.secondary-cta:hover {
  background-color: #34a5f3 !important;
}

.default-cta {
  background-color: rgba(128, 128, 128, 1);
}

.default-cta:hover {
  background-color: rgba(128, 128, 128, 0.8) !important;
}

/* Blog Styling */

.et_pb_blog_grid .et_pb_post {
  background-color: #fafafa;
  border: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.post-content-inner {
  height: 200px;
}

/* * Accordion */
/* Basic Accordion Styles */

.accordion input[name="panel"] {
  display: none;
}
.accordion label {
  display: block;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fafafa;
  font-size: 18px;
  color: #1a1a1a;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #f7a859;
}
.accordion label:after {
  content: "+";
  position: absolute;
  font-size: 30px;
  right: 15px;
  width: 30px;
  height: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background: #008852;
}
.accordion label:hover {
  color: #008852;
}
.accordion input:checked + label {
  color: #008852;
}
.accordion input:checked + label:after {
  content: "-";
  /* adjsut line-height to vertically center icon */
  line-height: 0.8em;
}
.accordion .accordion__content {
  overflow: hidden;
  height: 0px;
  position: relative;
  background: #fafafa;
  color: #1a1a1a;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* transition: height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87); */
  -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
  transition: height 1s;
  margin-bottom: 1%;
}

.accordion .accordion__content .accordion__body {
  font-size: 16px;
  line-height: 1.6em;
  padding: 2%;
}

/* * Size Variations */

input[name="panel"]:checked
  ~ .accordion__content.accordion__content--extrasmall {
  height: 100px;
}

input[name="panel"]:checked ~ .accordion__content.accordion__content--small {
  height: 150px;
}

input[name="panel"]:checked ~ .accordion__content.accordion__content--med {
  height: 200px;
}
input[name="panel"]:checked ~ .accordion__content.accordion__content--large {
  height: 400px;
}
input[name="panel"]:checked ~ .accordion__content.accordion__content--larger {
  height: 450px;
}

/* Review Banner Text Styling */
.promo {
  /**font-weight: bold;**/
  line-height: 1.1em;
  font-size: 20px;
  color: #1a1a1a;
  text-align: center;
  font-weight: bold;
}

.bonus {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  color: #1b75bc;
  line-height: 1.1em;
  text-align: center;
}

.bonus-mini {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  color: #f7a859;
  line-height: 1.1em;
  text-align: center;
}

.tc {
  color: #7f7f7f;
}

.spins {
  color: #1a1a1a;
  line-height: 1.1em;
  font-size: 20px;
  font-weight: bold;
}

.review-blurb {
  overflow: visible !important;
}

.review-text .left-review {
  color: white;
  font-size: 17px;
}

.review-text .right-review {
  float: right;
  color: white;
}

.right-review .banner-rating .list-star {
  font-size: 20px;
}

.right-review .banner-rating .list-star-text {
  color: white;
  font-size: 20px;
  margin-left: 5px;
}

.review-blurb .review-promo {
  font-size: 15px;
  color: #1a1a1a;
}

.review-blurb .review-bonus {
  color: #f7a859;
  font-size: 30px;
}

.review-schema-stars i {
  color: #ddbd62;
}

.review-schema-stars {
  font-size: 20px;
  font-weight: bold;
}

.review-banner-promo {
  font-weight: bold;
  font-size: 30px;
  color: #1a1a1a;
  text-align: center;
}

.review-banner-bonus {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 74px;
  color: #f7a859;
  line-height: 1.1em;
  text-align: center;
}
.review-banner-spins {
  font-weight: bold;
  color: #1a1a1a;
  line-height: 1.1em;
  font-size: 30px;
}

/* Normal List Styling */
.list-icons-check ul li {
  font-weight: 400 !important;
}

.list-icons-check ul {
  margin-left: 20px;
}

.list-icons ul li:before {
  list-style-type: circle;
  font-family: "FontAwesome";
  /*     content: '\f00d'; */
  content: "U+0203A";
  margin: 0 5px 0 -15px;
  color: #c1272d !important;
}

.list-icons-check ul li:before {
  list-style-type: circle;
  /*     font-family: 'FontAwesome'; */
  /*     content: '\f00c'; */
  content: "\2713";
  margin: 0 5px 0 -15px;
  color: #008852;
  font-size: 16px;
}

.list-icons-chevron ul li:before {
  list-style-type: circle;
  /*     font-family: 'FontAwesome'; */
  /*     content: '\f054'; */
  content: "\2BC8";
  margin: 0 5px 0 -15px;
  color: #008852;
  height: 16px !important;
}

/* Sticky Bar Styling */

.sticky-text {
  font-size: 20px;
  text-transform: uppercase;
  color: #1b75bc;
  text-align: center;
  font-weight: bold;
}

.sticky-promo {
  font-size: 20px;
  color: #1a1a1a;
}

.sticky-spins {
  color: #1a1a1a;
  font-size: 20px !important;
  text-align: center;
}

.sticky-bonus {
  color: #1a1a1a !important;
  font-size: 20px !important;
  text-align: center;
}

/* Top 4 Section Styling */
.banner-title,
.banner-none-title {
  color: white !important;
}

.banner-star {
  color: #ddbd62 !important;
}

.banner-rating {
  color: white;
  font-weight: bold;
}

.banner-promo {
  font-weight: bold;
  color: #1c1c1c;
  font-size: 18px;
  line-height: 1.2em !important;
}

.banner-bonus {
  color: #1b75bc;
  font-size: 30px;
  font-weight: bold;
}

.banner-spins {
  font-weight: bold;
  font-size: 18px;
}

.top4-stars i {
  color: #ddbd62 !important;
}

.toc-star .et_pb_column_inner_1 {
  width: 80% !important;
}

.toc-star .et_pb_column_inner_2 {
  width: 15% !important;
}

/* Table of Content Spacing */
.lwptoc {
  margin: 0px !important;
}

.lwptoc_i {
  padding: 0px !important;
}

/* Sidebar Styling */

.list-icons-chevron h4 {
  background-color: #0f75bc;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}

.list-icons-chevron ul {
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-icons-chevron ul li {
  font-weight: 400 !important;
}

/* Hiding Additionl Post Titles */

.et_post_meta_wrapper {
  display: none;
}

/* Mobile Styles */

@media all and (min-width: 1405px) {
}
/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) and (max-width: 1405px) {
  .main-menu-item {
    font-size: 18px;
    margin-right: 15px;
  }

  #logo {
    margin-right: 30px;
  }
}

/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 981px) and (max-width: 1099px) {
  .main-menu-item {
    font-size: 15px;
    margin-right: 10px;
  }

  #logo {
    margin-right: 30px;
  }
}
/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {
}
/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {
  .main-menu-item {
    font-size: 14px;
    margin-right: 5px;
  }

  #logo {
    margin-right: 0px;
    max-width: 85% !important;
    margin-top: 20px;
  }
}
/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  .main-menu-item {
    display: none;
  }

  #logo {
    margin-top: 20px !important;
    margin-right: 0 !important;
    max-width: 100% !important;
  }

  .et_header_style_left .logo_container {
    max-width: 60%;
  }

  #mobile-menu-main-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffde17;
  }

  .mobile-main-menu-item {
    color: #1a1a1a;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 5px;
    text-align: center;
    align-self: center;
    line-height: 1.1em;
    padding: 5px;
    vertical-align: middle;
  }

  .mobile-main-menu-item:nth-child(4) {
    border-right: 0px;
  }

  .mobile-menu-separator {
    margin: 0;
    border: 1px solid #1a1a1a;
  }
}
/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {
}
