p {
  font-size: 1rem !important;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem !important;
}

h2 {
  font-size: 2rem !important;
}

h3 {
  font-size: 1.75rem !important;
}

h4 {
  font-size: 1.5rem !important;
}

h5 {
  font-size: 1.25rem !important;
}

h6 {
  font-size: 1rem !important;
}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  p {
    font-size: 1rem !important;
  }

  h1 {
    font-size: calc(2.5rem * 0.8) !important;
  }

  h2 {
    font-size: calc(2rem * 0.8) !important;
  }

  h3 {
    font-size: calc(1.75rem * 0.8) !important;
  }

  h4 {
    font-size: calc(1.5rem * 0.8) !important;
  }

  h5 {
    font-size: calc(1.25rem * 0.8) !important;
  }

  h6 {
    font-size: calc(1rem * 0.8) !important;
  }
}
