/* Color variables */
/*
gold: gold;
silver: silver;
bronze: bronze;
primary: rgba(103, 202, 142, 1);
secondary: rgba(217, 156, 84, 1); 
*/

/***** Button Styling *****/
.primary-cta {
  background-color: rgba(103, 202, 142, 1);
}

.primary-cta:hover {
  background-color: rgba(103, 202, 142, 0.8) !important;
}

.secondary-cta {
  background-color: rgba(217, 156, 84, 1);
}

.secondary-cta:hover {
  background-color: rgba(217, 156, 84, 0.8) !important;
}

.default-cta {
  background-color: rgba(128, 128, 128, 1);
}

.default-cta:hover {
  background-color: rgba(128, 128, 128, 0.8) !important;
}

/* Casino list styling */

.casino-list .casino-review .et_pb_image_wrap {
  border-color: lightgray !important;
}

.casino-list .casino-review:nth-child(2) .et_pb_image_wrap {
  border-color: gold !important;
}

.casino-list .casino-review:nth-child(3) .et_pb_image_wrap {
  border-color: silver !important;
}

.casino-list .casino-review:nth-child(4) .et_pb_image_wrap {
  border-color: #cd7f32 !important;
}

/* wobble button animation/ */
@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wobble:after {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}
