/***** Button Styling *****/
.primary-cta {
  background-color: rgba(0, 136, 82, 1);
}

.primary-cta:hover {
  background-color: rgba(0, 136, 82, 0.8) !important;
}

.secondary-cta {
  background-color: rgba(247, 168, 89, 1);
}

.secondary-cta:hover {
  background-color: rgba(247, 168, 89, 0.8) !important;
}

.default-cta {
  background-color: rgba(128, 128, 128, 1);
}

.default-cta:hover {
  background-color: rgba(128, 128, 128, 0.8) !important;
}

/* Casino list styling */

.casino-list .casino-review .et_pb_image_wrap {
  border-color: lightgray !important;
}

.casino-list .casino-review:nth-child(2) .et_pb_image_wrap {
  border-color: gold !important;
}

.casino-list .casino-review:nth-child(3) .et_pb_image_wrap {
  border-color: silver !important;
}

.casino-list .casino-review:nth-child(4) .et_pb_image_wrap {
  border-color: #cd7f32 !important;
}

/* wobble button animation/ */
@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wobble:after {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}

/* Making review bar sticky */

.make-it-sticky {
  position: fixed;
  top: 54px;
  bottom: auto;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}

/* Blog Styling */

.et_pb_blog_grid .et_pb_post {
  background-color: #fafafa;
  border: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.post-content-inner {
  height: 200px;
}

.more-link:hover {
  background-color: rgba(247, 168, 89, 0.8) !important;
}

/* Mobile Styles */

@media all and (min-width: 1405px) {
}
/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) and (max-width: 1405px) {
}
/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {
}
/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {
}
/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  .make-it-sticky {
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    z-index: 999 !important;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  }
  #sticky-bar-review .et_pb_row .et_pb_column {
    display: none;
  }

  #sticky-bar-review .et_pb_row .et_pb_column:nth-child(6) {
    display: unset;
  }
}
/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {
}
