/***** Global variables *****/

:root {
  /* Color variables */
  --gold: gold;
  --silver: silver;
  --bronze: bronze;
  --primary: rgba(103, 202, 142, 1);
  --secondary: rgba(217, 156, 84, 1);
}

/***** Button Styling *****/
.primary-cta {
  background-color: var(--primary);
}

.primary-cta:hover {
  background-color: rgba(103, 202, 142, 0.8) !important;
  opacity: 0.8;
}

.secondary-cta {
  background-color: rgba(217, 156, 84, 1);
}

.secondary-cta:hover {
  background-color: rgba(217, 156, 84, 0.8) !important;
}

.default-cta {
  background-color: rgba(128, 128, 128, 1);
}

.default-cta:hover {
  background-color: rgba(128, 128, 128, 0.8) !important;
}

/***** List Styling *****/

.casino-list {
}

/* Default color */
.casino-list:child {
}

/* Gold color */
.casino-list:nth-child(0) {
}

/* Silver color */
.casino-list:nth-child(1) {
}

/* Bronze color */
.casino-list:nth-child(2) {
}

/* Casino review offer styling */
.casino-list .casino-review h3 {
  color: var(--secondary);
}

/***** F.A.Q Styling *****/

/***** Terms & Conditions Styling *****/

/* Makes Logo Smoother */

#logo {
  -webkit-transform: initial;
}
